body {
    margin: 0px;
}

/* NAVBAR */
.navbar {
    position: fixed;
    display: block;
    width: 100%;
    height: 6%;
    background-color: grey; 
    padding: 0%;
    margin: 0%;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}

nav span {
    display: inline-block;
    position: relative;
    top: 8%;
    left: 5%;
    font-family: 'Rock Salt', cursive !important;
    
}

.nav-item {
    position: relative;
    display: block;
    margin: 1%;
    font-family: 'Ruda';
    float: right;
}

.nav-item a {
    position: relative;
    display: inline;
    text-align: center;
    padding-right: 35px;
}

/* END NAVBAR */

/* POSTS */
.post-container {
    position: relative;
    top: 45px;
    width: 50%;
    margin: auto;
    padding: 1%;
}
.post {
    display: inline-block;
    margin: 0%;
    line-height: 1.6;
    padding: 1%;
    border-bottom: black 1px solid;
}
.date{
    margin: 0%;
    padding: 1%;

}
.title{
    margin: 0%;
    padding: 1%;

}
.image{
    float: left;
    margin: 1%;
}